---
layout: default.liquid
title: Yonathan’s blog
---
<h1>Yonathan’s blog</h1>

{% for post in collections.posts.pages %}
<div>{{post.data.yyyy}}-{{post.data.mm}} <a href="{{post.permalink}}">{{ post.title }}</a></div>
{% endfor %}
