<!DOCTYPE html>
<meta charset=utf-8>
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel=stylesheet href="/style/style.css">
{% if page.data.is_post %}
<title>{{ page.title }}</title>
{% else %}
<title>Yonathan’s Blog</title>
{% endif %}

{% if page.data.is_post %}
{% include 'post.liquid' %}
{% else %}
{{ page.content }}
{% endif %}
